/* Write your CSS here. */
div.wgs {
  position: relative;
  height: 241px;
  width: 320px;
  display: inline-block;
  overflow: hidden;
}

img.wgs__mole-head {
  position: absolute;
  top: 0px;
  left: 55px;
  right: 78px;
  width: 188px;
  transition: margin-top 0.25s;
}

img.wgs__dirt-pile {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 320px;
}

img.wgs__mole-head--hidden {
    margin-top: 341px;
}

img.wgs__mole-head--whacked {
    background-color: white;
}

div.pf {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(4, auto);
}
